section.section#hero
  .container
    img(src="./static/img/bitcoin.svg", alt="bitcoin-logo")#bitcoin
    img(  style="width: 100%; height: auto;" src="./static/img/basel_skyline.svg", alt="basel-skyline")
    div#headline Bitcoin Basel
    
section.section.no-padding 
  .container 
    p#intro=description
    a(href="https://twitter.com/einundzwanzigBS", target="_blank", rel="noopener noreferrer")#intro_link @einundzwanzigBS