.modal
  .modal-background 
  .modal-card 
    header.modal-card-header 
      p.modal-card-title Modal title 
      button.delete 
    section.modal-card-body Foo 
    footer.modal-card-foot 
      button.button.is-success Save
      button.button Cancel