- var title = "Bitcoin Basel | EINUNDUNZWANZIG BASEL";
- var description = "Die dezentrale bitcoin-only Community in Basel und im Dreiländereck"
- var url = "https://bitcoin-basel.ch"
- var banner_img = "https://bitcoin-basel.ch/static/img/bitcoin-basel-banner.jpeg"
- var service_adaption = "On-boarding und Support bei der Verwendung von Bitcoin im Alltag"
- var service_education = "Wissensaustausch auf dem Weg in den Bitcoin Kaninchenbau"
- var service_meetups = "Regelmässige Treffen zum Thema Bitcoin mit Plebs aus der Region"
