//.notification.is-warning.is-light <i class="far fa-calendar-times"></i> Der Termin für das nächste Meetup steht noch nicht fest.
.notification.is-success.is-light <i class="far fa-calendar-check"></i> Das nächste Meetup findet statt am <b>25.11.2023</b> in der Markthalle Basel. Für weitere Infos komm in die Gruppe! <br>
.columns 
  .column.is-one-fifth
    a(href="https://t.me/EinundzwanzigBS", target="_blank", rel="noopener noreferrer") 
      img(src="./static/img/einundzwanzig.basel.logo.svg", alt="Einundzwanzig Basel")#banner-img
  .column.is-four-fifths.p-5
    span Unsere Meetups sind Teil der <a target="_blank" href="https://einundzwanzig.space/meetups/">EINUNDZWANZIG Meetups</a> und basieren auf der Philosophie von dezentralen, offenen und unzensierten Treffen. Die Teilnahme und Gestaltung von Meetups wird über unseren <a target="_blank" href="https://t.me/EinundzwanzigBS">Telegram Kanal</a> organisiert. 