section.section#meetups
  .container
    h1.title Meetups
    h2.subtitle=service_meetups
    include banner.pug
    table.table.is-fullwidth.is-hoverable
      thead 
        tr 
          th #
          th Zeit  
          th Ort 
          th.hide-col-on-mobile Detail
      tbody 
        tr 
          td 4
          td 19.11.2022 18:30
          td Restaurant Za Zaa Petersgraben
          td.hide-col-on-mobile Onboarding-Event BTCPay für das Za Zaa Restaurant: -21 % Rabatt auf alles bei Bezahlung mit echtem Geld. Anmeldung für das Event via Telegram. Co-hosted by <a target="_blank" href="https://twitter.com/Bitcoin_ator" class="twitter-link">@Bitcoin_ator</a>
  
        tr 
          td 3
          td 30.09.2022 18:30
          td Jêle Café
          td.hide-col-on-mobile Onboarding-Event BTCPay für das Jêle Café Basel: -21% Rabatt auf alles with Sats over Lightning, Special Gift from <a target="_blank" class="twitter-link" href="https://twitter.com/SeedMint21">SeedMint</a>
        tr 
          td 2
          td 23.07.2022 16:00
          td St. Johanns-Park
          td.hide-col-on-mobile Grill & Chill im sommerlichen Basel mit Sats for Beer, Intro zu <a target="_blank" class="twitter-link" href="https://twitter.com/SeedSigner">SeedSigner</a>, co-hosted by <a class="twitter-link" target="_blank" href="https://twitter.com/iamJustInPOW">Justin</a> & <a target="_blank" class="twitter-link" href="https://twitter.com/Liv_Science">Liv</a>
        tr 
          td 1
          td 29.04.2022 18:30
          td Schall & Rauch Bar
          td.hide-col-on-mobile Mehr als 70 Bitcoiner mit Besuch von Einundzwanzig OG <a class="twitter-link" href="https://twitter.com/fabthefoxx" target="_blank">@fabthefoxx</a> sowie einer grösseren Gruppe von <a class="twitter-link" href="https://twitter.com/einundzwanzigSL">Einundzwanzig Saarland</a>.