extends layout-card

block card-image
  img(src="./static/img/bitcoin-basel-meetups.png", alt="Bitcoin Basel Meetups").is-cover.is-service-image


block title 
  h1.title Meetups

block subtitle 
  p.subtitle=service_meetups