section.section
  .container
    .columns
      .column.is-one-third
        a(href="#meetups")
          include cards/card-meetups
      .column.is-one-third
        a(href="#education")
          include cards/card-education
      .column.is-one-third
        a(href="#adaption")
          include cards/card-adaption
