- var title = "Bitcoin Basel | EINUNDUNZWANZIG BASEL";
- var intro = "Die dezentrale bitcoin-only Community in Basel und Dreiländereck"
- var service_adaption = "On-boarding Support zur Unterstützung der Hyperbitcoinization"
- var service_education = "Wissensaustausch auf dem Weg in und aus dem Bitcoin Kaninchenbau"
- var service_meetups = "Regelmässige Treffen zum Thema Bitcoin mit Plebs aus der Region"