extends layout-card

block card-image
  img(src="./static/img/bitcoin-basel-adaption.png", alt="Bitcoin Basel Adaption").is-cover.is-service-image

block title 
  h1.title Adaption

block subtitle 
  p.subtitle=service_adaption