extends layout-card

block card-image
  img(src="./static/img/bitcoin-basel-education.png", alt="Bitcoin Basel Education").is-cover.is-service-image

block title 
  h1.title Education

block subtitle 
  p.subtitle=service_education