extends layout-media 

block media-image
  img(src="./static/img/bitcoin-basel-material.png", alt="Bitcoin Basel Material", srcset="")

block media-title   
  h3 Bitcoin Lehrmaterialien

block media-button
  button.button.is-primary Downloads

block media-tag
  span.tag.is-warning.is-light Orange Flyer
  span.tag.is-warning.is-light Präsentationen