extends layout-media

block media-image
  img(src="./static/img/bitcoin-basel-workshops.png", alt="Bitcoin Basel Workshops", srcset="")

block media-title
  h3 Fullnode Workshops

block media-button
  button.button.is-primary Anmeldung

block media-tag
  span.tag.is-warning.is-light Raspiblitz
  span.tag.is-warning.is-light Umbrel
