extends layout-media 

block media-image
  img(src="./static/img/bitcoin-basel-payments.png", alt="Bitcoin Basel Onboarding", srcset="")

block media-title
  h3 Vendor On-boarding

block media-tag 
  span.tag.is-warning.is-light BTCPay
  span.tag.is-warning.is-light lnbits 
    
block media-button
  button(disabled="disabled").button.is-primary Anfrage  

block media-descr
  p Mit Bitcoin zahlen ist das eine, Bitcoin Zahlungen annehmen - und zwar am besten auf dem "Second Layer" - mit dem Lightning Network das andere. Auf Anfrage wird Support beim On-Boarding von professionellen Zahlungslösungen für Gastronomie, Events oder Webshops auf dem letzten technischen Stand angeboten.