extends layout-media 

block media-image
  img(src="./static/img/bitcoin-basel-seminare.png", alt="Bitcoin Basel Seminare", srcset="")

block media-title 
  h3 Bitcoin Seminare 

block media-button
  button.button.is-primary#register-seminar Anmelden

block media-tag 
  span.tag.is-warning.is-light Wallet Howto 
  span.tag.is-warning.is-light Non-KYC Guide

block media-descr
  p Das Thema Bitcoin umfasst eine Vielzahl von Themenbereichen von Kryptographie, Informatik, über Ekonomie und Ekologie bis hin zu Geschichte, Psychologie, Soziologie und Philosophie. Dies ist die optimale Basis für spannenede Seminare mit Vorträgen, Diskussionen und Reflektionen. 