extends layout-media

block media-image
  img(src="./static/img/bitcoin-basel-workshops.png", alt="Bitcoin Basel Workshops", srcset="")

block media-title
  h3 Fullnode Workshops

block media-button
  button(disabled="disabled").button.is-primary Infos

block media-tag
  span.tag.is-warning.is-light Raspiblitz
  span.tag.is-warning.is-light Umbrel

block media-descr
  p <a target="_blank" href="https://bitcoinmagazine.com/technical/not-your-node-not-your-validation">"Not Your Node, Not Your Validation"</a> lautet das Mantra nach dem ein wichtiger Pfeiler der Adaption stattzufinden hat. In diesem Workshop kann gelernt werden wie man mit einem kleinen Budget und ohne tiefe technische Kenntnisse einen eigenen Bitcoin Fullnode aufsetzen kann.