extends layout-media 

block media-image
  img(src="./static/img/bitcoin-basel-payments.png", alt="Bitcoin Basel Onboarding", srcset="")

block media-title
  h3 Vendor On-boarding

block media-tag 
  span.tag.is-warning.is-light BTCPay
  span.tag.is-warning.is-light lnbits 
    
block media-button
  button.button.is-primary Bewerbung  